<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div>
        {% if user.is_authenticated %}
            <p>Logged in as: {{ user.get_username }}</p>
        {% else %}
            <p>Consider logging in</p>
        {% endif %}
    </div><br>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </div>
</body>

</html>